<h1>Your inventory app</h1>

<%= @product.name %><br/>
<%= @product.amount %><br/>
<%= @product.details %><br/>
<%= @product.supplier %><br/>
<%= @product.price %><br/>

<%= link_to 'Back to Inventory', inventories_path %>
